// Variables
// --------------------------

$fa-font-path:         "../webfonts" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$fa-css-prefix:        fa !default;
$fa-version:           "5.15.3" !default;
$fa-border-color:      #eee !default;
$fa-inverse:           #fff !default;
$fa-li-width:          2em !default;
$fa-fw-width:          (20em / 16);
$fa-primary-opacity:   1 !default;
$fa-secondary-opacity: .4 !default;

// Convenience function used to set content property
@function fa-content($fa-var) {
  @return unquote("\"#{ $fa-var }\"");
}

$fa-var-arrows-alt-v: \f338;
$fa-var-compass: \f14e;
$fa-var-lock: \f023;
$fa-var-lock-open: \f3c1;
$fa-var-power-off: \f011;
$fa-var-route: \f4d7;
$fa-var-tachometer-alt: \f3fd;
$fa-var-unlock: \f09c;
$fa-var-unlock-alt: \f13e;