{% extends "index.html" %}
{% load static %}
{% block content %}
{% get_media_prefix as assets %}

<section hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="container py-4 px-3">
        <div class="columns is-gapless is-centered unloaded" id="loading">
            <div class="column is-narrow">
                <div class="loader"></div>
            </div>
        </div>
        {% if messages %}

        {% for message in messages %}
        <div {% if message.tags %} class="has-background-{{ message.tags }} box">
            <p {% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </p>

        </div>
        {% endfor %}
        {% endif %}
        <!-- Data Upload -->

        <div class="columns is-mobile is-multiline is-centered">
            <!-- GeoJSON Upload -->
            <div class="column has-background-main">
                <div class="panel">
                    <p class="panel-heading">
                        <i class="fas fa-file-upload is-size-5 mr-2 has-text-info"></i>Upload GeoJSON Layers
                    </p>
                    <div class="panel-block has-background-light panel-left"><small>Accepts .GeoJSON files
                            extracted from ENC layers</small></div>
                    <div class="panel-block has-background-light py-3">

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="source" value="geojson" />

                            <div class="field is-centered">
                                <label class="label" for="id_geojsontype">Layer Type:</label>
                                <div class="control">

                                    <div class="select">
                                        <select name="geojsontype" id="id_geojsontype">
                                            <option value="Select..." disabled selected>Select...</option>
                                            <option value="Soundings">Soundings</option>
                                            <option value="Depth Areas">Depth Areas</option>
                                            <option value="Recommended Track">Recommended Track</option>
                                            <option value="Buoys">Buoys</option>
                                            <option value="Beacons">Beacons</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="id_geojsonchart">Chart Name:</label>
                                <div class="control">
                                    <input class="input" type="text" name="geojsonchart" id="id_geojsonchart"
                                        placeholder="e.g. US5NJ20M">
                                </div>
                            </div>

                            <div class="control">
                                <div id="geojsonfile" class="file has-name mt-5">
                                    <label class="file-label" for="geojsonfiles">

                                        <input class="file-input" type="file" multiple name="geojsonfiles"
                                            id="geojsonfiles">
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name">
                                            No file uploaded
                                        </span>
                                    </label>

                                </div>
                                <small class="is-size-7 has-text-grey">Multiple files accepted (must be same Layer
                                    Type)</small>
                            </div>
                            <div class="control mt-5 mb-3">
                                <button type="submit" class="button is-info is-fullwidth">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <!-- ENC Upload -->
            <div class="column has-background-main">
                <div class="panel">
                    <p class="panel-heading">
                        <i class="fas fa-file-upload is-size-5 mr-2 has-text-link"></i>Upload ENC Data
                    </p>
                    <div class="panel-block has-background-light panel-left"><small>Accepts ENC files (.000
                            extension)</small></div>
                    <div class="panel-block has-background-light py-3">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            <input type="hidden" name="source" value="enc" />
                            <div class="field is-centered">
                                <label class="label" for="id_enctype">Select Layers to include:</label>
                                <div class="control has-text-centered">

                                    <div class="select is-multiple">
                                        <select multiple size="5" name="enctype" id="id_enctype">
                                            <option value="Soundings">Soundings</option>
                                            <option value="Depth Areas">Depth Areas</option>
                                            <option value="Recommended Track">Recommended Track</option>
                                            <option value="Buoys">Buoys</option>
                                            <option value="Beacons">Beacons</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="control">
                                <div id="ENCfile" class="file has-name">
                                    <label class="file-label" for="encfiles">

                                        <input class="file-input" type="file" multiple name="encfiles" id="encfiles">
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name">
                                            No file uploaded
                                        </span>
                                    </label>

                                </div>
                                <small class="is-size-7 has-text-grey">Multiple files accepted</small>
                            </div>
                            <div class="control mt-5 mb-3">
                                <button type="submit" class="button is-info is-fullwidth"
                                    onclick="show_loading()">Submit</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <!-- Existing Layers -->
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column has-background-main">
                <div class="panel">
                    <p class="panel-heading">
                        <i class="fas fa-layer-group is-size-5 mr-2 has-text-purple"></i>Existing Layers
                    </p>
                    <div class="panel-block has-background-light py-3">
                        <div id="tabs-with-content">
                            <div class="tabs is-small is-centered has-background-light">
                                <ul>
                                    {% for key, values in layers.items %}
                                    <li><a>{% if key == "Soundings" %} <i
                                                class="fa fa-ruler-vertical has-text-primary mr-1"></i>
                                            {% elif key == "Beacons - Green" %} <i
                                                class="fa fa-square is-size-6 has-text-primary mr-1"></i>
                                            {% elif key == "Beacons - Red" %} <i
                                                class="fa fa-exclamation-triangle is-size-6 has-text-danger mr-1"></i>
                                            {% elif key == "Recommended Tracks" %} <i
                                                class="fa fa-route is-size-6 has-text-warning mr-1"></i>
                                            {% elif key == "Buoys - Green" %} <img width="17px" class="mr-1"
                                                src="{{assets}}media/buoy1.png"></i>
                                            {% elif key == "Buoys - Red" %} <img width="17px" class="mr-1"
                                                src="{{assets}}media/buoy2.png"></i>
                                            {% elif key == "Depth Areas" %} <i
                                                class="fas fa-long-arrow-alt-up is-size-6 has-text-info mr-1"></i>
                                            {% endif %}{{key}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                {% for key, values in layers.items %}
                                <section class="tab-content has-text-centered">
                                    <div class="columns is-multiline is-centered is-mobile">
                                        {% for v in values %}
                                        <div class="column remove" id="{{v}}">
                                            <div class="box">
                                                <div class="columns">
                                                    <div class="column is-narrow">
                                                        <div class="dropdown" id="dropdown_{{v}}">
                                                            <div class="dropdown-trigger">
                                                                <button class="button is-small is-white"
                                                                    aria-haspopup="true" aria-controls="dropdown-menu">
                                                                    <i class="fas fa-cog is-size-5">
                                                                    </i></button>
                                                            </div>
                                                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                                                <div class="dropdown-content has-text-left">
                                                                    <a hx-post="{% url 'delete' %}"
                                                                        hx-vals='{"file": "{{v}}"}'
                                                                        hx-target="closest .remove"
                                                                        hx-swap="outerHTML swap:1s"
                                                                        hx-confirm="Are you sure you want to delete {{v}}?"
                                                                        class="dropdown-item">
                                                                        <i
                                                                            class="fas fa-ban is-size-5 has-text-danger mr-2"></i>
                                                                        Delete Layer
                                                                    </a>
                                                                    <div class="dropdown-content has-text-left">
                                                                        <a href="{% url 'download' v %}"
                                                                            class="dropdown-item"><i
                                                                                class="fas fa-file-download is-size-5 mr-2 has-text-primary"></i>
                                                                            Download Layer</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column">
                                                        <span>{{v}}</span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        {% endfor %}

                                    </div>
                                </section>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Markers -->
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column has-background-main">
                <div class="panel">
                    <p class="panel-heading">
                        <i class="fas fa-map-marker-alt is-size-4 mr-2 has-text-primary"></i>Update Markers
                    </p>
                    <div class="panel-block panel-left has-background-light is-size-5">
                        <i class="fa fa-anchor has-text-info is-size-6 mr-2"></i>Default Markers
                    </div>
                    <div class="panel-block has-background-light py-3">
                        <div class="columns is-multiline is-centered is-vcentered is-fullwidth">
                            <div class="column">
                                <div class="box">
                                    <div class="is-align-items-center is-size-5">
                                        <img class="mr-2" src="{{assets}}media/houseicon.png" width="30px"> Home
                                        Location
                                    </div>
                                    <small class="is-size-7 has-text-grey">Sets the home icon location on the
                                        map</small>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="source" value="home" />
                                        <input type="hidden" name="name" value="home" />
                                        <div style="display:grid;">
                                            <div class="column table-container">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Latitude</th>
                                                            <th>Longitude</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th>
                                                                <input class="input is-small" type="number" name="latitude"
                                                                    size="9" value="{{home_marker.latitude}}">
                                                            </th>
                                                            <th>
                                                                <input class="input is-small" type="number" name="longitude"
                                                                    size="9" value="{{home_marker.longitude}}">
                                                            </th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="control mt-5 mb-3">
                                            <button type="submit" class="button is-info is-fullwidth">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="column">
                                <div class="box">
                                    <div class="is-align-items-center is-size-5">
                                        <img class="mr-2" src="{{assets}}media/boatnav.png" width="21px"> Default
                                        Location
                                    </div>
                                    <small class="is-size-7 has-text-grey">Sets the current location until GPS
                                        lock</small>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="source" value="default" />
                                        <div style="display:grid;">
                                            <div class="column table-container">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Latitude</th>
                                                            <th>Longitude</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <input class="input is-small" type="number" name="latitude"
                                                                    size="9" value="{{default_marker.latitude}}">
                                                            </td>
                                                            <td>
                                                                <input class="input is-small" type="number" name="longitude"
                                                                    size="9" value="{{default_marker.longitude}}">
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="control mt-5 mb-3">
                                            <button type="submit" class="button is-info is-fullwidth">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="panel-block panel-left has-background-light is-size-5">
                        <i class="fa fa-plus has-text-success is-size-6 mr-2"></i>Add Custom Markers
                    </div>
                    <div class="panel-block has-background-light">
                        <div style="display:grid;">
                            <div class="table-container">
                                <table class="table is-hoverable has-background-light">
                                    <thead>
                                        <tr>
                                            <th><i class="fa fa-map-pin has-text-danger"></i></th>
                                            <th>Name</th>
                                            <th>Latitude</th>
                                            <th>Longitude</th>
                                            <th>Description</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="markertable">
                                        <tr id="newmarker">
                                            <form hx-post="{% url 'add_marker'%}" hx-target="#newmarker"
                                                hx-encoding="multipart/form-data" hx-swap="afterend swap:1s">
                                                <input type="hidden" name="source" value="customize" />
                                                <td class="has-text-centered"><i
                                                        class="fa fa-map-pin has-text-success"></i>
                                                </td>
                                                <td><input class="input" type="text" name="name" size="10"
                                                        placeholder="Fishing Spot..."></td>
                                                <td><input class="input" type="number" step=".00001" min="-90" max="90"
                                                        name="latitude" size="7" placeholder="34.589"></td>
                                                <td><input class="input" type="number" step=".00001" min="-90" max="90"
                                                        name="longitude" size="7" placeholder="-78.302"></td>
                                                <td><input class="input" type="text" name="caption" size="15"
                                                        placeholder="Caught monster bass here!"></td>
                                                <td><button type="submit" class="button is-light is-small"
                                                        onclick="remove_marker_table_message()"><i
                                                            class="fa fa-plus has-text-success"></i></button></td>
                                            </form>
                                        </tr>
                                        {% for marker in markers %}
                                        <tr class="remove">
                                            <td><i class="fa fa-map-pin has-text-grey"></i></td>
                                            <td>{{marker.name}}</td>
                                            <td>{{marker.latitude}}</td>
                                            <td>{{marker.longitude}}</td>
                                            <td>{{marker.caption}}</td>
                                            <td><button class="button is-light is-small"
                                                    hx-post="{% url 'delete_marker' %}"
                                                    hx-vals='{"name": "{{marker.name}}"}' hx-target="closest .remove"
                                                    hx-swap="outerHTML swap:0.5s"><i
                                                        class="fas fa-ban has-text-danger"></i></button>


                                            </td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- Tide Data Upload -->
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column has-background-main">
                <div class="panel">
                    <p class="panel-heading">
                        <i class="fas fa-cog has-text-link is-size-4 mr-2"></i>Other Config Options
                    </p>
                    <div class="panel-block has-background-light py-3">
                        <div class="columns is-multiline is-centered is-mobile">
                            <div class="column">
                                <div class="box">
                                    <div class="mb-2">
                                        <i class="fas fa-arrows-alt-v has-text-info is-size-6 mr-2"></i><span
                                            class="subtitle">Tide Data Upload</span>
                                    </div>
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="hidden" name="source" value="tide" />
                                        <div class="control mb-3">
                                            <div id="tidefile_name" class="file has-name">
                                                <label class="file-label" for="csvfiles">
                                                    <input class="file-input" type="file" name="csvfiles" id="csvfiles">
                                                    <span class="file-cta">
                                                        <span class="file-icon">
                                                            <i class="fas fa-upload"></i>
                                                        </span>
                                                        <span class="file-label">
                                                            Choose a file…
                                                        </span>
                                                    </span>
                                                    <span class="file-name">
                                                        No file uploaded
                                                    </span>
                                                </label>

                                            </div>
                                            <small class="is-size-7 has-text-grey">Only .CSV files accepted.</small>
                                        </div>
                                        <div class="control mt-5 mb-3">
                                            <button type="submit" class="button is-info is-fullwidth">Submit</button>
                                        </div>
                                    </form>
                                    <div style="display:grid;">
                                        <div class="table-container">
                                            <table class="table is-striped is-size-7">
                                                <thead>
                                                    <tr colspan="6">
                                                        <p
                                                            class="has-text-danger has-text-centered has-text-weight-bold">
                                                            Example Format
                                                        </p>
                                                    </tr>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>t</th>
                                                        <th>v</th>
                                                        <th>type</th>
                                                        <th>date</th>
                                                        <th>time</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>2/18/2022 21:42</td>
                                                        <td>3.359</td>
                                                        <td>H</td>
                                                        <td>2022-02-18</td>
                                                        <td>21:42</td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>2/19/2022 4:18
                                                        </td>
                                                        <td>-0.247</td>
                                                        <td>L</td>
                                                        <td>2022-02-19</td>
                                                        <td>4:18</td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>2/19/2022 9:51</td>
                                                        <td>3.797</td>
                                                        <td>H</td>
                                                        <td>2022-02-19</td>
                                                        <td>9:51</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="box">

                                    <div class="mb-2">
                                        <i class="fas fa-clock has-text-purple is-size-6 mr-2"></i><span
                                            class="subtitle">Time Zone & Daylight Savings Time</span>
                                    </div>
                                    <form hx-post="{% url 'timeconfig' %}" hx-swap="outerHTML" hx-target="#timeconfig">
                                        <div id="timeconfig">
                                            <div class="box">
                                                <div>
                                                    {% if dst %}
                                                    <input type="checkbox" name="dst" id="dst" checked />
                                                    {% else %}
                                                    <input type="checkbox" name="dst" id="dst" />
                                                    {% endif %}
                                                    <label for="dst" class="checkbox">Account for DST?</label>
                                                </div>
                                                <small class="is-size-7 has-text-grey">Use this if your area requires
                                                    DST.</small>
                                                <div class="mt-3">
                                                    <label for="tz">Time Zone | UTC/GMT Offset</label>
                                                    <input class="input" type="number" size="5" min="-12" max="14"
                                                        step="1" name="tz" id="tz" value="{{tz}}">
                                                </div>
                                                <div class="control mt-5 mb-3">
                                                    <button type="submit"
                                                        class="button is-info is-fullwidth">Submit</button>
                                                </div>
                                            </div>
                                            <div class="has-text-centered has-text-success" id="time-config-success">
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Return Button -->
        <div class="columns is-mobile is-multiline is-centered">
            <div class="column py-5 is-half has-text-centered">
                <a href="{% url 'home' %}"><button class="button is-primary is-fullwidth">Return</button></a>
            </div>
        </div>
    </div>




</section>


<script>

    function remove_marker_table_message() {
        document.getElementById("marker_table_error").remove()
    };

    document.body.addEventListener("success",
        function (evt) {
            document.getElementById("time-config-success").classList.add("fadeout");
        });

    document.body.addEventListener("remove",
        function (evt) {
            document.getElementById("time-config-success").remove()
        });

    function show_loading() {
        document.getElementById("loading").classList.toggle("unloaded");
    };

    // Get all dropdowns on the page that aren't hoverable.
    const dropdowns = document.querySelectorAll('.dropdown:not(.is-hoverable)');
    if (dropdowns.length > 0) {
        // For each dropdown, add event handler to open on click.
        dropdowns.forEach(function (el) {
            el.addEventListener('click', function (e) {
                e.stopPropagation();
                el.classList.toggle('is-active');
            });
        });

        // If user clicks outside dropdown, close it.
        document.addEventListener('click', function (e) {
            closeDropdowns();
        });
    }

    /*
     * Close dropdowns by removing `is-active` class.
     */
    function closeDropdowns() {
        dropdowns.forEach(function (el) {
            el.classList.remove('is-active');
        });
    }

    // Close dropdowns if ESC pressed
    document.addEventListener('keydown', function (event) {
        let e = event || window.event;
        if (e.key === 'Esc' || e.key === 'Escape') {
            closeDropdowns();
        }
    });

    //Tide file name update
    const tidefile = document.querySelector('#tidefile_name input[type=file]');
    tidefile.onchange = () => {
        if (tidefile.files.length > 0) {
            const tidefilename = document.querySelector('#tidefile_name .file-name');
            tidefilename.textContent = tidefile.files[0].name;
        }
    };

    //GeoJSON file name update
    const geojsonfile = document.querySelector('#geojsonfile input[type=file]');
    geojsonfile.onchange = () => {
        if (geojsonfile.files.length > 0) {
            const geojsonname = document.querySelector('#geojsonfile .file-name');
            geojsonname.textContent = geojsonfile.files[0].name;
        }
    };
    //ENC file name update
    const encfile = document.querySelector('#ENCfile input[type=file]');
    encfile.onchange = () => {
        if (encfile.files.length > 0) {
            const encname = document.querySelector('#ENCfile .file-name');
            encname.textContent = encfile.files[0].name;
        }
    };
    //Tabs selector
    let tabsWithContent = (function () {
        let tabs = document.querySelectorAll('.tabs li');
        let tabsContent = document.querySelectorAll('.tab-content');

        let deactvateAllTabs = function () {
            tabs.forEach(function (tab) {
                tab.classList.remove('is-active');
            });
        };

        let hideTabsContent = function () {
            tabsContent.forEach(function (tabContent) {
                tabContent.classList.remove('is-active');
            });
        };

        let activateTabsContent = function (tab) {
            tabsContent[getIndex(tab)].classList.add('is-active');
        };

        let getIndex = function (el) {
            return [...el.parentElement.children].indexOf(el);
        };

        tabs.forEach(function (tab) {
            tab.addEventListener('click', function () {
                deactvateAllTabs();
                hideTabsContent();
                tab.classList.add('is-active');
                activateTabsContent(tab);
            });
        })

        tabs[0].click();
    })();
</script>


{% endblock content %}